* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
}
.header {
  width: 100%;
  height: 100%;
  background-color: #101c26;
}
.navbar {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo {
  margin-top: 30px;
}
.navbar__menu {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 30px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  color: #bab9b9;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn {
  width: 117px;
  height: 50px;
  padding: 13px 22px 13px 22px;
  border-radius: 100px;
  color: #fff;
  border: 1px solid #cecece;
  background: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
.btn2 {
  width: 138px;
  height: 50px;
  padding: 13px 29px 13px 29px;
  border-radius: 1000px;
  background-color: #f0e714;
  border: 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
@media screen and (max-width: 883px) {
  .navbar__menu {
    gap: 20px;
  }
  .btn {
    width: 90px;
    height: 50px;
    font-size: 13px;
  }
  .btn2 {
    width: 100px;
    height: 50px;
    font-size: 12px;
  }
}
@media screen and (max-width: 687px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .navbar__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .navbar__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.center__content {
  display: flex;
}
.center__font h1 {
  margin-top: 101px;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0.01em;
  text-align: left;
  width: 534px;
  color: #f3f4f6;
}
.center__font p {
  margin-top: 24px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.011em;
  text-align: left;
  width: 427px;
  color: #f3f4f6;
}
.btn3 {
  margin-top: 30px;
  width: 197px;
  height: 60px;
  padding: 18px 26px 18px 26px;
  border-radius: 100px;
  border: 0;
  background-color: #f0e714;
}
.font {
  display: flex;
  gap: 80px;
  margin-top: 30px;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 600;
  line-height: 56px;
  text-align: left;
  color: #f0e714;
}
.font2 {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 600;
  line-height: 56px;
  text-align: left;
  color: #f0e714;
}
.spn {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #fff;
}
.font2 img {
  margin-top: -160px;
  margin-left: 130px;
}
.png {
  width: 500px;
  height: 500px;
}
@media screen and (max-width: 997px) {
  .center__content {
    display: block;
  }
}
@media screen and (max-width: 687px) {
  .center__font h1 {
    font-size: 40px;
    width: 300px;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .center__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .center__font {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .font {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .font2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .font2 img {
    margin-left: 0;
    margin-top: 0;
  }
  .png {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .center__font p {
    width: 400px;
    text-align: center;
  }
}

@media screen and (max-width: 380px) {
  .center__font p {
    width: 300px;
    text-align: center;
  }
  .about__font h1 {
    font-family: Inter;
    font-size: 44px;
    font-weight: 600;
    line-height: 56px;
    text-align: left;
    width: 328px;
    margin-left: 20px;
  }
  .about__font p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #555c68;
    width: 308px;
    margin-top: 16px;
    margin-left: 20px;
  }
}
.about__content {
  display: flex;
  margin-top: 200px;
}
.btn4 {
  width: 115px;
  height: 39px;
  padding: 10px 16px 10px 16px;
  border-radius: 1000px;
  border: 0;
  background-color: #f0e71433;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: center;
  margin: 20px;
}
.about__font h1 {
  font-family: Inter;
  font-size: 44px;
  font-weight: 600;
  line-height: 56px;
  text-align: left;
  width: 628px;
  margin-left: 20px;
}
.about__font p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #555c68;
  width: 408px;
  margin-top: 16px;
  margin-left: 20px;
}
.btn5 {
  width: 160px;
  height: 46px;
  background-color: #24272e;
  color: #f0e714;
  border-radius: 100px;
  border: 0;
  margin-top: 40px;
  margin-left: 20px;
}
@media screen and (max-width: 680px) {
  .about__content {
    display: block;
  }
  .about__content img {
    width: 300px;
    height: 300px;
  }
  .about__font h1 {
    width: 400px;
  }
}
@media screen and (max-width: 320px) {
  .about__content {
    display: block;
  }
  .about__content img {
    width: 300px;
    height: 300px;
  }
  .about__font h1 {
    width: 250px;
  }
  .about__font p {
    width: 300px;
  }
}
.png2 {
  width: 550px;
  height: 500px;
}
.title {
  text-align: center;
  font-family: Roboto;
  color: #24272e;
  font-size: 44px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  margin: 0 auto;
  width: 495px;
  margin-top: 200px;
}
.text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: -0.011em;
  margin-top: 16px;
  text-align: center;
  margin: 0 auto;
  color: #555c68;
  width: 664px;
}
.main__row {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 297px;
  height: 238px;
  border-radius: 10px;
  box-shadow: 0 0 10px #cecece;
  margin-top: 100px;
}
.card img {
  margin-top: 20px;
  margin-left: 20px;
}
.card h1 {
  margin-top: 10px;
  margin-left: 20px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #24272e;
  width: 181px;
}
.card p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.011em;
  text-align: left;
  color: #555c68;
  margin-top: 30px;
  margin-left: 20px;
}
@media screen and (max-width: 680px) {
  .title {
    width: 350px;
  }
  .text {
    width: 350px;
  }
}
.title2 {
  margin-top: 100px;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 600;
  line-height: 56px;
  text-align: left;
  color: #24272e;
  width: 508px;
}
.des__row {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  margin-top: 100px;
  width: 510px;
  height: 100%;
}
.box img {
  width: 100%;
}
.box h1 {
  font-family: Inter;
  font-size: 34px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #24272e;
  margin-top: 15px;
}
.box p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #555c68;
  margin-top: 20px;
}
@media screen and (max-width: 360px) {
  .title2 {
    width: 300px;
  }
}
.title3 {
  text-align: center;
  font-family: Inter;
  font-size: 44px;
  font-weight: 600;
  line-height: 56px;
  color: #24272e;
  margin-top: 100px;
}
.text3 {
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.011em;
  color: #555c68;
  margin-top: 15px;
}
.blog__row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.blog__card {
  margin-top: 50px;
  width: 568px;
  height: 406px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 20px rgb(171, 162, 162);
}
.blog__card img {
  margin-top: 15px;
  margin-left: 244px;
}
.blog__card h1 {
  margin-top: 15px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.text5 {
  margin-top: 10px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #8791a0;
}
.text6 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.011em;
  text-align: center;
  margin: 0 auto;
  color: #555c68;
  width: 400px;
  margin-top: 20px;
}
@media screen and (max-width: 320px) {
  .blog__card {
    width: 400px;
    height: 500px;
  }
  .text6 {
    width: 300px;
  }
}
.footer {
  margin-top: 100px;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.foot__cont {
  display: flex;
  gap: 50px;
}
.btn6 {
  width: 158px;
  height: 42px;
  padding: 10px 16px 10px 16px;
  border-radius: 100px;
  background-color: #f0e71433;
  border: 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #101c26;
  margin-top: 100px;
}
.foot h1 {
  margin-top: 24px;
  font-family: Inter;
  color: #010101;
  font-size: 34px;
  font-weight: 500;
  line-height: 44px;
  text-align: left;
  width: 510px;
}
.foot p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: left;
  color: #555c68;
  margin-top: 16px;
  width: 510px;
  margin-bottom: 20px;
}
.foot span {
  display: block;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  color: #555c68;
  border-bottom: 10px;
}
.foot__card {
  width: 514px;
  height: 450px;
  border-radius: 10px;
  background-color: #101c26;
  margin-top: 50px;
}
.inp {
  width: 350px;
  height: 40px;
  margin-top: -30px;
  margin-left: 50px;
  border-bottom: 1px solid #fff;
}
.foot__card p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #fff;
  margin-top: 50px;
  margin-left: 50px;
  /* border-bottom: 10px; */
  /* border-bottom: 1px solid; */
}
.btn7 {
  width: 180px;
  height: 50px;
  background-color: #f0e714;
  border-radius: 100px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #101c26;
  border: 0;
  margin-top: 40px;
  margin-left: 50px;
}
@media screen and (max-width:620px){
    .foot__cont{
        display: block;
    }
}
@media screen and (max-width:360px){
    .foot__cont{
        display: block;
    }
    .foot h1{
        width: 350px;
    }
    .foot p{
        width: 350px;
    }
    .foot__card{
        width: 400px;
    }
}